.git
.gitignore
.idea
*.iml
*.ipr
*.iws
*.md
backups/
.env
blog-admin/.idea
blog-admin/node_modules
blog-admin/dist
blog-web/.env
blog-web/node_modules
blog-web/.next
blog-server/.idea
blog-server/target
